@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3>Studenter</h3>

<form method="get">
    <input type="text" name="Sok" value="@Model.Sok" placeholder="Søk student..." />
    <button type="submit">Søk</button>
</form>

<ul>
    @foreach (var stud in Model.AllStudents)
    {
        <li>
            @stud.Studentname
            <ul>
                <li>Alder: @stud.Studentage</li>
                @foreach (var g in stud.Grades)
                {
                    <li> @g.Coursecode : @g.Grade1</li>
                }
            </ul>
        </li>
    }
</ul>

